{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12">
            <h1>{{ title }}</h1>
            <form method="get" action="">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="q" placeholder="Search groups and posts" value="{{ request.GET.q }}"/>
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"/><i class="fa fa-search" aria-hidden="true"></i>
                </span>
                </div>
            </form>

            <a href="{{ object_list.get_absolute_url }}create" class="btn btn-primary float-right mb-3"><i class="fa fa-plus"></i> Add new</a>

            <table class="table table-hover table-striped">
                <thead class="thead-inverse">
                <tr>
                    <th class="text-center">Action</th>
                    <th>Group</th>
                    {% for value in column %}
                        <th>#</th>
                    {% endfor %}
                </tr>
                </thead>



                {% for key, value in dd.items %}
                    <tr>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="#"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a></td>
                        <th>{{ key }}</th>
                        {% for control in value %}
                            <th><a href="{{ control.post.get_absolute_url }}">{{ control.published | date:"d/m/y" }}</a></th>
                        {% endfor %}
                    </tr>
                {% endfor %}

            </table>


            <nav aria-label="...">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" tabindex="-1" href="">Previous</a></li>
                    {% endif %}

                    {% if object_list.has_previous %}
                        <li class="page-item"><a class="page-link" href="{{ object_list.previous_page_number }}">{{ object_list.previous_page_number }}</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" tabindex="-1" href="">&nbsp;</a></li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="#">{{ object_list.number }} <span class="sr-only">(current)</span></a>
                    </li>

                    {% if object_list.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ object_list.next_page_number }}">{{ object_list.next_page_number }}</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" tabindex="-1" href="">&nbsp;</a></li>
                    {% endif %}

                    {% if object_list.has_next %}
                        <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" tabindex="-1" href="">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}
