{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}
<li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="row justify-content-center mb-3">
        <div class="col-12">
            <h1>{{ instance.title }}</h1>
            <small class="pull-left" style="padding-left: 10px;"><a href="{{ instance.url }}">{{ instance.url }}</a></small>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card card-success mb-3">
                <div class="card-block" style="padding: 0.5rem">
                    <h4 class="card-title">All Systems Operational</h4>
                    <p class="card-text text-right"><small class="text-muted">Refreshed 39 minutes ago</small></p>

                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Admin contacted <span class="badge badge-default pull-right">{{ instance.admin }}</span></h4>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h4>Status <span class="badge badge-default pull-right">{{ instance.status }}</span></h4>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h4>Post Frequency Allowed <span class="badge badge-default pull-right">{{ instance.frequency }} - {{ instance.frq_scale }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Posts</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Published</th>
                </tr>
                </thead>
                <tbody>
                {% for control in controls %}
                    <tr>
                        <td><a href="{{ control.post.get_absolute_url }}">{{ control.post.id }}</a></td>
                        <td><a href="{{ control.post.get_absolute_url }}">{{ control.post }}</a></td>
                        <td><a href="{{ control.post.get_absolute_url }}">{{ control.post.content }}</a></td>
                        <td><a href="{{ control.post.get_absolute_url }}">{{ control.published }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}