{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}
<li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <h1>{{ title }}</h1>
        <small style="padding-left: 10px;"><a href="{{ instance.url }}">{{ instance.url }}</a></small>
        <hr/>
               <br/>

        <div class="row">
            <div class="col-sm-12">
                <p>Group Status   :{{ instance.group_status }}</p>
                <p>Admin contact  :{{ instance.admin }}</p>
                <p>Admin Status   :{{ instance.admin_status }}</p>
                <p>Post freq      :{{ instance.frequency }}</p>
                <p>Post freq scale:{{ instance.frq_scale }}</p>

                <hr/>
                <br/>
            </div>
        </div>
    </div>
{% endblock content %}