{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}

{% block content %}
    {{ block.super }}

    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Create Post</h1>
            <hr/>
            <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-success" value="Create Post"/>
            </form>
        </div>
    </div>
{% endblock content %}