{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}
<li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3">{{ title }}</h1>
            <div class="card">
                <div class="card-block">
                    <p class="card-text">{{ instance.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}